@charset "UTF-8";
/* KEYFRAMES ==================================================== */
/* 撥放icon 背景循環撥放效果------------------------------- */
@-webkit-keyframes play-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 222, 94, 0.3), 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3);
            box-shadow: 0 0 0 0 rgba(244, 222, 94, 0.3), 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3);
    box-shadow: 0 0 0 0 rgba(244, 222, 94, 0.3), 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3), 0 0 0 30px rgba(244, 222, 94, 0);
            box-shadow: 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3), 0 0 0 30px rgba(244, 222, 94, 0);
    box-shadow: 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3), 0 0 0 30px rgba(244, 222, 94, 0);
  }
}
@keyframes play-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 222, 94, 0.3), 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3);
            box-shadow: 0 0 0 0 rgba(244, 222, 94, 0.3), 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3);
    box-shadow: 0 0 0 0 rgba(244, 222, 94, 0.3), 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3), 0 0 0 30px rgba(244, 222, 94, 0);
            box-shadow: 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3), 0 0 0 30px rgba(244, 222, 94, 0);
    box-shadow: 0 0 0 10px rgba(244, 222, 94, 0.3), 0 0 0 20px rgba(244, 222, 94, 0.3), 0 0 0 30px rgba(244, 222, 94, 0);
  }
}
/* DANCE------------------------------- */
.dance3 {
  -webkit-animation: dance3 8s alternate infinite;
  animation: dance3 8s alternate infinite;
}

@-webkit-keyframes dance3 {
  0% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes dance3 {
  0% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.dance {
  -webkit-animation: dance 2s alternate infinite;
  animation: dance 2s alternate infinite;
}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.2);
  }
}

@keyframes dance {
  0% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.2);
  }
}
.dance2 {
  -webkit-animation: dance2 4s alternate infinite;
  animation: dance2 4s alternate infinite;
}

@-webkit-keyframes dance2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(25px, -25px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -25px, 25px);
  }
}

@keyframes dance2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(25px, -25px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -25px, 25px);
  }
}