/* 
@media only screen and (min-width: 320px) and (max-width: 479px)
.feature-single-box {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;

*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .feature-single-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  .feature-thumb img {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .swiper {
    height: 90%;
  }
  .swiper-text h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .swiper-text h6 {
    font-size: 17px;
    line-height: 28px;
    margin-top: 16px;
  }
}
@media (min-width: 992px) {
  #carousel {
    height: calc(100vh - 68px);
  }
  #section05 {
    padding: 30px 0;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .swiper-slide {
    position: relative;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    background-image: url("https://images.unsplash.com/photo-1566041510632-30055e21a9cf?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  .swiper-content {
    position: absolute;
    height: 100%;
    padding: 146px;
  }
  .slider-shape1 {
    position: absolute;
    bottom: 8rem;
    left: 15%;
    -webkit-animation: dance2 3s alternate infinite;
    animation: dance2 3s alternate infinite;
    width: 15%;
  }
  .swiper-text h1 {
    font-family: "Playfair Display";
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
    color: #333333;
    margin-top: 16px;
  }
  .swiper-text h6 {
    font-size: 17px;
    line-height: 28px;
    color: #80bd44;
    font-weight: 600;
    font-family: "Poppins";
    position: relative;
    display: inline-block;
    margin-top: 16px;
  }
  .swiper-text .slider-btn {
    margin-top: 43px;
  }
  .swiper-text .slider-btn a {
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    border-radius: 5px;
    padding: 14px 32px;
    overflow: hidden;
    background-color: #80bd44;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}