*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  color: rgb(44, 44, 44);
  background: white;
  font-family: "Noto Sans TC", sans-serif;
}

:root {
  --bs-link-color: #fff;
  --bs-link-hover-color: #fff;
  --bs-orange: #fd7e14;
}

.container {
  width: 90%;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09,
#section10 {
  position: relative;
}

#section03 {
  padding: 100px 0;
}

#section04 {
  padding: 80px 0 100px;
}

a {
  color: var(--bs-link-color);
  text-decoration: none;
}

/* CARD ==================================================== */
.card {
  --bs-card-spacer-y: 30px;
  --bs-card-spacer-x: 30px;
  --bs-card-title-spacer-y: 1rem;
}

.card-body {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  margin-top: calc(0.15 * var(--bs-card-title-spacer-y));
}

/* ABOUT ==================================================== */
.about-img {
  position: relative;
}

.about-img img {
  width: 100%;
}

.about-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

/* PRODUCT ==================================================== */
.product-box {
  position: relative;
  left: 0;
  right: 0;
}