*,
*::before,
*::after {
	box-sizing: border-box;
	list-style: none;
}

body {
  color: rgb(44, 44, 44);
  background: white;
  font-family: 'Noto Sans TC', sans-serif;
}

:root{
  --bs-link-color: #fff;
  --bs-link-hover-color: #fff;
  --bs-orange: #FF8F26;
  --bs-lightorange: #ffd9ae;
  --bs-orangeY: #FFC526;
  --bs-yellow: #FFFC26;
  --bs-green:#96FF26;
}

.bg-orange{
  --bs-bg-opacity: 1;
  background-color: var(--bs-orange);
}

.container {
	width: 90%;
	// padding-left: 15px;
	// padding-right: 15px;
	// margin: auto;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09,
#section10 {
  position: relative;
}

#section03{
  padding: 100px 0;
}

#section04{
  padding: 80px 0 100px;
}

a {
  color: var(--bs-link-color);
  text-decoration: none;
}

/* NAVBAR ==================================================== */


.navbar{
  --bs-navbar-toggler-border-color: var(--bs-orange);
}

.navbar-toggler{
  color: var(--bs-navbar-color);
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
  // 把.navbar-toggler-icon 中的 background-image 改為 none，捨棄原本 bs 預設的圖形
}


.navbar-toggler-icon::before {
  content: '\2630'; /* Unicode character for three horizontal lines (☰) */
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-toggler-icon.active::before {
  content: 'X'; /* Display 'X' when active */
}


/* CAROUSEL ==================================================== */

#carousel .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  /* overflow: hidden; */
}



/* CARD ==================================================== */

.card {
  --bs-card-spacer-y: 30px;
  --bs-card-spacer-x: 30px;
  --bs-card-title-spacer-y: 1rem;
  --bs-card-color: var(--bs-black);
  --bs-card-bg:var(--bs-lightorange);
}

.card-body {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-black);
}

.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  margin-top: calc(0.15 * var(--bs-card-title-spacer-y));
}

.card-subtitle h6{
  color: var(--bs-black);
}


/* ABOUT ==================================================== */

.about-img {
  position: relative;
}

.about-img img{
  width: 100%;
}

.about-items{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


/* PRODUCT ==================================================== */

.product-box{
position: relative;
left: 0;
right: 0;
}



